# .clinerules - Vos règles projet générées dynamiquement
# Basé sur .vibe/config.toml

RÈGLE 2 : Pas de console.log
RÈGLE 3 : Pas d'unwrap() en Rust
RÈGLE 4 : Pas de TODO sans nom (utilisez TODO(nom): )
RÈGLE 5 : Respecter max_file_lines = 150
